
.up-header{
  padding: 15px;
  padding-left: 20px;
  border-bottom: 1px solid var(--profile-header-border-bottom);
  display: flex;
  flex-direction: column;
}
.header-text1{
  font-size: var(--size13);
  font-weight: 500;
}
.header-text2{
  font-size: var(--size31);
  color: var(--profile-header-text);
}
.up-body{
  padding-top: 25px;
  padding-bottom: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
}
.up-label{
  color: var(--main-cont-header-title);
  font-size: var(--size31);
  font-weight: 500;
}
.up-input{
  padding: 15px; 
 }
 .btn-container{
  margin-top: 50px;
 }
 .btn1{
  color: var(--white);
  background-color: var(--buttonColor);
  padding: 10px;
  width: auto;
}
.btn2{
  color: var(--white);
  background-color: var(--refresh-color);
  padding: 10px;
  width: auto;
  margin-left: 25px;
}














.profile-body{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
}
.asterisk {
  color: var(--danger); /* Makes it red */
  font-size: 8px; /* Adjust size if needed */
  position: relative;
  top: 2px; /* Moves it slightly down */
}

.profile-label{
  color: var(--main-cont-header-title);
  font-size: var(--size31);
  font-weight: 500;
}
.profile-input{
 padding: 15px; 
}
.profile-mailid{
  color: var(--profile-mailid);
  font-size: var(--size31);
}
